/* alice.tiptext 样式模块 */

@charset "utf-8";

.ui-tiptext {
    margin: 0;
    padding: 0;
    color: #4D4D4D;
    position:relative;
    vertical-align:middle;
    line-height:15px;
    font-size: 12px;
    zoom:1;
}
.ui-tiptext-container {
    padding: 8px 12px;
    position:relative;
    zoom:1;
}
.ui-tiptext .iconfont {
    vertical-align: bottom;
    font-size: 14px;
    text-shadow: 0 1px 0 #fff;
}
.ui-tiptext-icon {
    margin-right:5px;
    display:inline-block;
    *display:inline;
    *zoom:1;
}
.ui-tiptext-message .ui-tiptext-icon {
    color: #0483CF;
}
.ui-tiptext-container-message {
    background: #e5f5ff;
    border: 1px solid #c9d5e2;
}
.ui-tiptext-success .ui-tiptext-icon {
    color: #20DC19;    
}
.ui-tiptext-container-success {
    background: #E7FFCE;
    border: 1px solid #B9E2A0;
}
.ui-tiptext-error .ui-tiptext-icon {
    color: #FF4800;    
}
.ui-tiptext-container-error {
    background: #fceee8;
    border: 1px solid #f6c8b5;
}
.ui-tiptext-warning .ui-tiptext-icon {
    color: #FFA700;    
}
.ui-tiptext-container-warning {
    background: #ffff8d;
    border: 1px solid #e7c560;
}
.ui-tiptext-question .ui-tiptext-icon {
    color: #00B5F3;    
}
.ui-tiptext-container-question {
    background: #e5f5ff;
    border: 1px solid #c9d5e2;
}
.ui-tiptext-stop .ui-tiptext-icon {
    color: #FF5500;
}
.ui-tiptext-container-stop {
    background: #fceee8;
    border: 1px solid #f6c8b5;
}
.ui-tiptext-wait .ui-tiptext-icon {
    color: #B26100;
}
.ui-tiptext-container-wait{
    background: #FFF9D9;
    border: 1px solid #E6CBB1;
}

/* arrow */
.ui-tiptext-arrowup, .ui-tiptext-arrowup em, .ui-tiptext-arrowup span,
.ui-tiptext-arrowleft, .ui-tiptext-arrowleft em, .ui-tiptext-arrowleft span,
.ui-tiptext-arrowdown, .ui-tiptext-arrowdown em, .ui-tiptext-arrowdown span {
    position: absolute;
    font-size: 14px;  
    font-family: "SimSun";
    top: 0;
    left: 0;
    font-style: normal;
}

.ui-tiptext-arrowup, .ui-tiptext-arrowleft, .ui-tiptext-arrowdown {
    height: 10px;
    width: 16px;
}

.ui-tiptext-arrowup {
    left: 32px;
    top:-10px;
    _top:-9px;
}
.ui-tiptext-arrowup em {
    top: -1px;
}
/* ie9  */
:root .ui-tiptext-arrowup {
    top:-9px\9;
}

.ui-tiptext-arrowleft {
    left: -6px;
    top:5px;
    _top:6px;
}
.ui-tiptext-arrowleft em {
    left:-1px;
}

.ui-tiptext-arrowdown {
    left: 32px;
    top:20px;
    top:22px\0;
    *top:22px;
    _top:21px;
}
/* ie9  */
:root .ui-tiptext-arrowdown {
    top:23px\9;
}
.ui-tiptext-arrowdown em {
    top: 1px;
}

/* arrow color*/
.ui-tiptext-container-message .ui-tiptext-arrow em {
    color:#c9d5e2;
}
.ui-tiptext-container-message .ui-tiptext-arrow span {
    color:#e5f5ff;
}
.ui-tiptext-container-success .ui-tiptext-arrow em {
    color:#B9E2A0;
}
.ui-tiptext-container-success .ui-tiptext-arrow span {
    color:#E7FFCE;
}
.ui-tiptext-container-error .ui-tiptext-arrow em {
    color:#f6c8b5;
}
.ui-tiptext-container-error .ui-tiptext-arrow span {
    color:#fceee8;
}
.ui-tiptext-container-warning .ui-tiptext-arrow em {
    color:#e7c560;
}
.ui-tiptext-container-warning .ui-tiptext-arrow span {
    color:#ffff8d;
}
.ui-tiptext-container-question .ui-tiptext-arrow em {
    color:#c9d5e2;
}
.ui-tiptext-container-question .ui-tiptext-arrow span {
    color:#e5f5ff;
}
.ui-tiptext-container-stop .ui-tiptext-arrow em {
    color:#f6c8b5;
}
.ui-tiptext-container-stop .ui-tiptext-arrow span {
    color:#fceee8;
}
.ui-tiptext-container-wait .ui-tiptext-arrow em {
    color:#E6CBB1;
}
.ui-tiptext-container-wait .ui-tiptext-arrow span {
    color:#FFF9D9;
}
